.key {
  width: 50px;
  height: 70px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: #d3d6da;
  color: #000;
  cursor: pointer;
}

.big {
  width: 100px;
}

.disabled {
  background-color: #495870;
  border: 1px solid #495870;
  color:#fff;
}

.correct {
  background-color: #6aaa64;
  border: 1px solid #6aaa64;
  color: #fff;
}

.almost {
  background-color: #c9b458;
  border: 1px solid #c9b458;
  color:#fff;
}

@media only screen and (max-width: 700px) {
  .key {
  width: 30px;
  height: 35px;
  margin: 2px;
  font-size: 10px;
}
#big {
  width: 50px;
}
}